<div class="container mt-5">
<form  action="/productos/{{arreglo.id}}">
    <div class="mb-3">
      <label for="nombre" class="form-label">Ingrese Nombre</label>
      <input type="text" class="form-control" id="nombre"  value={{arreglo.title}} name="nombre" aria-describedby="Nombre">
      <div id="Nombre" class="form-text">Ingresar nombre del producto</div>
    </div>
 
    <div class="mb-3">
      <label for="precio" class="form-label">Ingrese Precio</label>
      <input type="text" class="form-control" name="precio" id="precio" value={{arreglo.price}} aria-describedby="Precio">
      <div id="Precio" class="form-text">Ingresar Precio del producto</div>
    </div>

    <div class="mb-3">
      <label for="url" class="form-label">Ingrese URL</label>
      <input type="text" class="form-control" name="url" id="url" value={{arreglo.thumbnail}}  aria-describedby="Url">
      <div id="Url" class="form-text">Ingresar URL del producto</div>
    </div>
    <input type='hidden' name="_method"  value="PUT" >  
    <button type="submit" class="btn btn-primary">Actualizar</button>
  </form>

  <form  action="/productos/{{arreglo.id}}">
    <div class="mb-3">
      <input type='hidden' type="text" class="form-control" id="id"  value={{arreglo.id}} name="id" aria-describedby="Nombre">
    </div>
    <input type='hidden' name="_method"  value="DELETE" >  
    <button type="submit" class="btn btn-primary">Borrar</button>
  </form>

  </div>
